.advantages__container--blue {
  background-color: @blue;
  text-align: center;
}

.advantages__item--first {
  background: url("../img/bg-triangle.svg") no-repeat center -21px;
  height: 211px;
}

.advantages__item--second {
  height: 191px;
}

.advantages__title {
  .font(@white, 18px, 18px, bold, "PT Sans");
  padding-top: 42px;
  margin-top: 0 px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.advantages__title-first {
  padding-top: 61px;
}

.advantages__number {
  .font(@white, 14px, 21px, 400, "PT Sans");
  margin-bottom: 15px;
}

.advantages__text {
  .font(@white, 14px, 21px, 400, "PT Sans");
  text-transform: uppercase;
  margin: 0 auto;
  width: 280px;
  margin-bottom: 41px;
}

.advantages__img {
  height: 260px;
  box-sizing: border-box;
}

.advantages__img--first {
  background: url("../img/main-city-mobile@1x.jpg") no-repeat center;
  background-size: cover;
}

.advantages__img--second {
  background: url("../img/main-bridge-mobile@1x.jpg") no-repeat center;
  background-size: cover;
}

.advantages__container--grey {
  background-color: @grey;
}

.advantages__item--grey {
  width: 280px;
  border-bottom: 1px solid #d6d6d6;
  text-align: center;
  .center();
}

.advantages__item--grey .advantages__title {
  .center();
  .font(#000, 18px, 18px, bold, "PT Sans");
  padding-top: 29px;
  margin-bottom: 10px;
  width: 200px;
}

.advantages__item--grey .advantages__number {
  .font(#000, 14px, 21px, 400, "PT Sans");
  margin-bottom: 15px;
}

.advantages__item--grey .advantages__text {
  .font(#000, 14px, 21px, 400, "PT Sans");
  width: 250px;
  margin-bottom: 29px;
}

.features {
  .center();
  margin-top: 25px;
  margin-bottom: 18px;
}

.features__item {
  .center();
  display: flex;
  justify-content: center;
}

.features__content {
  .center();
  display: flex;
  justify-content: flex-start;
}

.features__icon-wrap {
  width: 50px;
}

.features__text-wrap {
  width: 230px;
}

.features__title {
  .font(#000, 18px, 26px, 700, "PT Sans");
  text-transform: uppercase;
  margin-top: 9px;
}

.features__text {
  .font(#000, 14px, 21px, 400, "PT Sans");
  text-transform: uppercase;
  margin-bottom: 19px;
}
