.page-header {
  background-color: @white;
  position: relative;
}

.page-header__wrap {
  height: 56px;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.page-header__logo {
  z-index: 200;
}

.main-menu__toggle {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background: url("../img/icon-cross.svg") no-repeat 50% 50%;
  background-size: 23px 22px;
  border: none;
  outline: none;
  cursor: pointer;
  right: 20px;
}

.main-menu__toggle--closed {
  background: url("../img/icon-menu.svg") no-repeat 50% 50%;
  background-size: 23px 22px;
  border: none;
  outline: none;
  cursor: pointer;
  right: 20px;
  bottom: 0;
}

@media (min-width: @width-tablet) {
  .page-header {
    width: 100%;
    .center();
    display: flex;
    flex-direction: column;
  }

  .page-header__wrap {
    height: 0;
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1200px;
    .center();
  }
}

.main-menu--nojs .main-menu__toggle {
  display: none;
}
