.page-header {
  background-color: @white;
}

.page-header__wrap {
  height: 56px;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.page-header__logo {
  z-index: 200;
}

@media (min-width: @width-tablet) {
  .page-header {
    width: 100%;
    .center();
    display: flex;
    flex-direction: column;
  }

  .page-header__wrap {
    height: 0;
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1200px;
    .center();
  }
}
