.intro{

}

.intro__background{

  height: 158px;
  background: url(../img/bg-intro-triangle-mobile.svg) no-repeat 52% bottom,
              url(../img/bg-back-mobile@1x.jpg) no-repeat;
  background-position: 50% bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.intro__banner{

  margin-top: 25px;
  width: 280px;
}
.intro__banner__other{

  margin-top: 30px;
  width: 230px;
}

.intro-background--index{
  height: 389px;
}
.intro-background--photo{
  height: 157px;
}
.intro__content{
  .center();
  text-align: center;
  width: 270px;
}
.intro__title{
  .font(black, 18px, 1.444, bold, "PT Sans");
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 39px;
  width: 260px;
}
.intro__text{
  .font(black, 14px, 26px, normal, "PT Sans");
  text-transform: uppercase;

  margin-bottom: 23px;
}
.intro__title--photo, .intro__title--form{
  margin-bottom: 25px;
}
.intro__text--photo, .intro__text--form{
  .font(black, 14px, 24px, normal, "PT Sans");
}
.intro__content--photo{
  margin-bottom: 28px;
}
.intro__content--form{
  width: 280px;
  margin-bottom: -6px;
}


