.blog__post {
  .center();
  box-sizing: border-box;
  border-top: 1px solid #eeeeee;
}

.blog__picture-wrap {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.blog__content {
  .center();
  width: 280px;
}

.blog__description {
  margin-top: 16px;
}

.blog__title {
  .font(#000, 14px, 24px, 700, "PT Sans");
  text-transform: uppercase;
}

.blog__author {
  .font(#000, 14px, 24px, 400, "PT Sans");
  .center();
}

.blog__likes-container {
  .center();
  display: flex;
  justify-content: flex-start;
  margin-top: 9px;
  position: relative;
  margin-bottom: 15px;
}

.blog__likes {
  .font(#000, 14px, 24px, bold,"PT Sans");
  margin-left: 37px;
}

.blog__like-icon-img {
  position: absolute;
  top: -3px;
}

.video-blog {
  .center();
  width: 320px;
}

.video-blog__post {
  .center;
  box-sizing: border-box;
  border-top: 1px solid #eeeeee;
}

.video-blog__content {
  .center;
  width: 250px;
  text-align: center;
}

.video-blog__title {
  .font(#000, 18px, 25px, 700, "PT Sans");
  text-transform: uppercase;
}

.video-blog__text {
  .font(#000, 14px, 25px, 400, "PT Sans");
  text-transform: uppercase;
}
