.search-form {
  margin-bottom: 65px;
  background-color: @white;

  @media (min-width: @width-tablet) {
    width: 100%;
    .center();
    height: 318px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.search-form__wrap {
  .center;
  text-align: center;
}

.search-form__title {
  .font(#000,21px, 26px, 700, "PT Sans");
  text-transform: uppercase;
  margin-top: 27px;

  @media (min-width: @width-tablet) {
    font-size: 30px;
    margin-top: 0;
    padding-top: 55px;
  }
}

.search-form__text {
  .font(#000, 14px, 24px, 400, "PT Sans");
  text-transform: uppercase;
  width: 270px;
  .center();
  margin-top: 20px;
  margin-bottom: 50px;

  @media (min-width: @width-tablet) {
    margin-top: 31px;
    width: 400px;
    margin-bottom: 58px;
  }
}

.search-form__button {
  .font(@white, 21px, 26px, 700, "PT Sans");
  background-color: @blue;
  text-transform: uppercase;
  text-decoration: none;
  .innersize(46px, 46px, 15px, 15px);

  @media (min-width: @width-tablet) {
    .innersize(136px, 136px, 15px, 15px);
  }
}

.search-form__button:hover {
  background-color: #669ec0;
}

.search-form__button:active {
  background-color: #5496bd;
  color: #88b6d1;
}
